<%# Navjot Kaur
File name - about.ejs
website - http://emergingtech-comp308-navjot.azurewebsites.net/
Description - about.ejs displays detailed information about me.
%>

<!DOCTYPE html>
<html>
<head>
<title> <%= title %> </title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body bgcolor="darksalmon">
<div id="total">
<div id="header">
<h1 style="text-align:left; font-family:cursive"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Navjot Kaur</h1>

<ul id="listmenu">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> <b> (Student) </b> </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:0px;">

	<center> <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/about">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/service">Service</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/project">Projects</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<a href="/contact">Contact</a> </center>

</nav>

</ul>
</div>


<div id="section">
<h2 style="text-align:center; font-family:cursive"> Something basic, </h2>

<h3 style="text-align:center; font-family:cursive"> but interesting about Navjot! </h3>
<p align="center"> Knowing that, you are a bit curious to know about her; Navjot wants to share some basic information about her. </p>
<p align="center"> Navjot Kaur is, basically, from a small village in Punjab (India). She has completed her graduation in Information Technology course from a well-reputated college in Punjab; and to grab more practical knowledge and to continue with her keen interest in studies, now she is pursuing Advanced Diploma in Software Engineering Technology from an international business school in Scarborough.</p>
<p align="center"> Apart from studies, she is interested in listening to music, playing badminton and surfing the internet. She loves to read interesting and inspirational quote, which more or less gives her motivation to succeed in every turn of life.</p>
<p align="center"> One more interesting quote is - "To be momentous, create information with purpose". It's one of the inspirational quotes for Navjot therefore, she emphasizes to provide some useful information for readers. Yes! Navjot loves writing; she loves to share her knowledge and experience with the people who love to hear. She is a writer. She has worked as a Content Wrtier in IT companies for 3 years. She has written thousands of contents on different topics in her career of Content Writing. Moreover, Navjot wants to make some new and factual concepts that would be favorable for everyone.</p>
</div>



<div id="footer">

<ul id="listme">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> Contact </li> 

<li> Follow me</li>

</ul>

<ul id="listi">

<li> <a href="https://centennialcollegeedu-my.sharepoint.com/_layouts/15/me.aspx?u=8b6ddf2a-3fff-4e91-b651-dcf3a60a5411&p=nkaur173%40my.centennialcollege.ca&v=profile"> <img src="/images/outlookmail.jpg" alt="outlookmail" height="30" width="30"> </a> </li>
<li> &nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/navjot-kaur-00a00259?trk=nav_responsive_tab_profile"> <img src="/images/linkedin.png" alt="outlookmail" height="30" width="30"> </a> </li>

</ul>

</div>
</div>

</body>
</html>