<!DOCTYPE html>
<html>
<head>
<title> <%= title %> </title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body bgcolor="darksalmon">
<div id="total">
<div id="header">
<h1 style="text-align:left; font-family:cursive"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Navjot Kaur</h1>

<ul id="listmenu">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> <b> (Student) </b> </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:0px;">

	<center> <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/about">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/resume">Resume</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/skills">Skills</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<a href="/contact">Contact</a> </center>

</nav>

</ul>
</div>

<div id="section">

<h1 style="text-align:center; font-family:cursive"> Contact Info </h1>
<p align="center">  Looking forward to contact Navjot?</p>
<p align="center"> Get detailed information below to contact Navjot via Internet. Send her email on Outlook account and/or follow her on LinkedIn, as shared the information below. Contact to know more about her!</p>
<p align="center"> <b>Outlook id - </b> nkaur173@my.centennialcollege.ca </p>
<p align="center"> <b>Linked id - </b> navjot304@gmail.com </p>
<p align="center"> Moreover, you can find direct links to Outlook and Linked in the end of pages! </p> 
</div>



<div id="footer">

<ul id="listme">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> Contact </li> 

<li> Follow me</li>

</ul>

<ul id="listi">

<li> <a href="https://centennialcollegeedu-my.sharepoint.com/_layouts/15/me.aspx?u=8b6ddf2a-3fff-4e91-b651-dcf3a60a5411&p=nkaur173%40my.centennialcollege.ca&v=profile"> <img src="/images/outlookmail.jpg" alt="outlookmail" height="30" width="30"> </a> </li>
<li> &nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/navjot-kaur-00a00259?trk=nav_responsive_tab_profile"> <img src="/images/linkedin.png" alt="outlookmail" height="30" width="30"> </a> </li>

</ul>

</div>
</div>

</body>
</html>