<%# Navjot Kaur
File name - contact.ejs
website - http://emergingtech-comp308-navjot.azurewebsites.net/
Description - contact.ejs displays contact details
%>

<!DOCTYPE html>
<html>
<head>
<title> <%= title %> </title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body bgcolor="darksalmon">
<div id="total">
<div id="header">
<h1 style="text-align:left; font-family:cursive"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Navjot Kaur</h1>

<ul id="listmenu">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> <b> (Student) </b> </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:0px;">

	<center> <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/about">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/service">Service</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/project">Projects</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<a href="/contact">Contact</a> </center>

</nav>

</ul>
</div>

<div id="section">

<h1 style="text-align:center; font-family:cursive"> Contact Info </h1>

<form align="center">
    <div>
        <label for="name">Name</label>
        <div>
            <input type="text" id="name" name="name" placeholder="First & Last Name" value="">
        </div>
    </div>
    <div>
        <label for="email">Email</label>
        <div>
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
    <div>
        <label for="message">Message</label>
        <div>
            <textarea rows="5" name="message"></textarea>
        </div>
    </div>
    <div>
        <label for="human">5+8= ?</label>
        <div>
            <input type="text" id="human" name="human" placeholder="Your Answer">
        </div>
    </div>
    <div>
        <div>
            <input id="submit" name="submit" type="submit" value="Send">
        </div>
    </div>
    <div>
        <div>
            <! Will be used to display an alert to the user>
        </div>
    </div>
</form>
</div>




<div id="footer">

<ul id="listme">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> Contact </li> 

<li> Follow me</li>

</ul>

<ul id="listi">

<li> <a href="https://centennialcollegeedu-my.sharepoint.com/_layouts/15/me.aspx?u=8b6ddf2a-3fff-4e91-b651-dcf3a60a5411&p=nkaur173%40my.centennialcollege.ca&v=profile"> <img src="/images/outlookmail.jpg" alt="outlookmail" height="30" width="30"> </a> </li>
<li> &nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/navjot-kaur-00a00259?trk=nav_responsive_tab_profile"> <img src="/images/linkedin.png" alt="outlookmail" height="30" width="30"> </a> </li>

</ul>

</div>
</div>

</body>
</html>