<%# Navjot Kaur
File name - index.ejs
website - http://emergingtech-comp308-navjot.azurewebsites.net/
Description - index.ejs is the home page of portfolio, including some basic information.
%>

<!DOCTYPE html>
<html>
<head>
<title> <%= title %> </title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body bgcolor="darksalmon">
<div id="total">
<div id="header">
<h1 style="text-align:left; font-family:cursive"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Navjot Kaur</h1>

<ul id="listmenu">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> <b> (Student) </b> </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<nav class="navbar navbar-inverse" role="navigation" style="padding-left:0px;">

	<center> <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/about">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/service">Service</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/project">Projects</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<a href="/contact">Contact</a> </center>

</nav>


</ul>


</div>


<div id="section">
<img src="/images/navjot.jpg" alt="My pic" height="300" width="250" align="left" vertical-align="middle">

<h1 style="text-align:center; font-family:cursive"> Hello, </h1>
<h3 style="text-align:center; font-family:cursive"> a bit about Navjot! </h3>
<p align="center">  "You are more powerful than you know; you are beautiful just as you are.."
The quote defines a little more about Navjot, as if you want to know.</p>
<p align="center"> Moreover, Navjot is an engineering graduate in Information Technology. She is pursuing advanced diploma in Software Engineering Technology from Centennial College, Scarborough. To know more about her, click <a href="/about"> <b> here </b> </a></p>
</div>



<div id="footer">

<ul id="listme">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> Contact </li> 

<li> Follow me</li>

</ul>

<ul id="listi">

<li> <a href="https://centennialcollegeedu-my.sharepoint.com/_layouts/15/me.aspx?u=8b6ddf2a-3fff-4e91-b651-dcf3a60a5411&p=nkaur173%40my.centennialcollege.ca&v=profile"> <img src="/images/outlookmail.jpg" alt="outlookmail" height="30" width="30"> </a> </li>
<li> &nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/navjot-kaur-00a00259?trk=nav_responsive_tab_profile"> <img src="/images/linkedin.png" alt="outlookmail" height="30" width="30"> </a> </li>

</ul>

</div>
</div>

</body>
</html>