<!DOCTYPE html>
<html>
<head>
<title> <%= title %> </title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body bgcolor="darksalmon">
<div id="total">
<div id="header">
<h1 style="text-align:left; font-family:cursive"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Navjot Kaur</h1>

<ul id="listmenu">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> <b> (Student) </b> </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<nav class="navbar navbar-inverse" role="navigation" style="padding-left:0px;">

	<center> <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/about">About</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/resume">Resume</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/skills">Skills</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<a href="/contact">Contact</a> </center>

</nav>

</ul>
</div>

<div id="section">

<h3 style="text-align:center; font-family:cursive"> Skills Set </h3>

<h3 style="text-align:center; font-family:cursive"> Technical Skills </h3>
<ul id="listbody">
<li> <b> Web Technologies: </b> </li>
<li> HTML  </li>
<li> Javascript  </li>
<li> CSS  </li>
<li> C++  </li>
<li> C#  </li>
</ul>


<ul id="listbody">
<li> <b> Operating Systems: </b> </li>
<li> Windows7  </li>
<li> Windows XP </li>
<li> Windows8  </li>
<li> Linux  </li>
<li> Mac </li>
</ul>


<ul id="listbody">
<li> <b> Database Systems: </b> </li>
<li> SQL  </li>
<li> Oracle </li>
</ul>

<h3 style="text-align:center; font-family:cursive"> Strong Points </h3>
<ul id="listbody">
<li> Flexible  </li>
<li> Goal-oriented  </li>
<li> Hard-working </li>
<li> Team work  </li>
<li> Intellectual Thinking  </li>
<li> Enthusiasm to learn new things  </li>
<li> Self-motivated  </li>
</ul>

<h3 style="text-align:center; font-family:cursive"> Hobbies </h3>
<ul id="listbody">
<li> Listening to music  </li>
<li> Playing Badminton  </li>
<li> Reading Quotes </li>
<li> Surfing the internet  </li>
</ul>

</div>

<div id="footer">

<ul id="listme">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li> Contact </li> 

<li> Follow me</li>

</ul>

<ul id="listi">

<li> <a href="https://centennialcollegeedu-my.sharepoint.com/_layouts/15/me.aspx?u=8b6ddf2a-3fff-4e91-b651-dcf3a60a5411&p=nkaur173%40my.centennialcollege.ca&v=profile"> <img src="/images/outlookmail.jpg" alt="outlookmail" height="30" width="30"> </a> </li>
<li> &nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/navjot-kaur-00a00259?trk=nav_responsive_tab_profile"> <img src="/images/linkedin.png" alt="outlookmail" height="30" width="30"> </a> </li>

</ul>

</div>
</div>

</body>
</html>